<script src="${contextRoot}files/fitnesse/javascript/SpreadsheetTranslator.js" type="text/javascript"></script>
<script src="${contextRoot}files/fitnesse/javascript/WikiFormatter.js" type="text/javascript"></script>
<script src="${contextRoot}files/fitnesse/javascript/TemplateInserter.js" type="text/javascript"></script>
<script src="${contextRoot}files/fitnesse/javascript/mousetrap.min.js" type="text/javascript"></script>
<script src="${contextRoot}files/fitnesse/codemirror/codemirror.js" type="text/javascript"></script>
<script src="${contextRoot}files/fitnesse/codemirror/addon/foldcode.js" type="text/javascript"></script>
<script src="${contextRoot}files/fitnesse/codemirror/addon/simple.js" type="text/javascript"></script>
<script src="${contextRoot}files/fitnesse/codemirror/addon/foldgutter.js" type="text/javascript"></script>
<script src="${contextRoot}files/fitnesse/codemirror/fitnesse/fitnesse.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="${contextRoot}files/fitnesse/codemirror/addon/foldgutter.css" media="screen" />
<link rel="stylesheet" type="text/css" href="${contextRoot}files/fitnesse/codemirror/codemirror.css" media="screen" />
<link rel="stylesheet" type="text/css" href="${contextRoot}files/fitnesse/codemirror/addon/hint/show-hint.css">
<script src="${contextRoot}files/fitnesse/codemirror/addon/hint/show-hint.js" type="text/javascript"></script>
<script src="${contextRoot}files/fitnesse/codemirror/addon/hint/fitnesse_anyword-hint.js" type="text/javascript"></script>

<form method="post" action="$resource" name="f" class="mousetrap">
#if($!editTime)
 <input type="hidden" name="editTime" value="$editTime"/>
 <input type="hidden" name="ticketId" value="$ticketId"/>
#end
#if($!redirect)
 <input type="hidden" name="redirect" value="#escape($redirect)"/>
#end
#if($!isNewPage)
 <input type="hidden" name="responder" value="addChild"/>
 <fieldset>
  <label for="pagename">Page name:</label>
  <input type="text" id="pagename" name="pageName" value="" class="wikiword" />
 </fieldset>
 #if($!pageTemplate)
 <input type="hidden" name="pageTemplate" value="#escape($pageTemplate)"/>
 #elseif( $!pageType )
 <input type="hidden" name="pageType" value="#escape($pageType)"/>
 #else
 <fieldset id="pagetypes">
  #foreach( $pageType in $pageTypes )
  <label for="pageType_$pageType"><input type="radio" name="pageType" value="$pageType" id="pageType_$pageType"/> $pageType</label>
  #end
  <label for="pageType_Default"><input type="radio" name="pageType" value="Default" id="pageType_Default" checked="checked" /> Default</label>
 </fieldset>
 #end
#else
 <input type="hidden" name="responder" value="saveData"/>
 <input type="hidden" name="expectedVersion" value="$!currentVersion"/>
#end
 <fieldset>
  <label for="helptext">Help text:</label>
  <input type="text" class="mousetrap" id="helptext" name="helpText" value="#escape($!helpText)" />
 </fieldset>
 <fieldset>
  <label for="suites">Tags:</label>
  <input type="text" id="suites" title="Separate tags by a comma" name="suites" value="#escape($!suites)" />
 </fieldset>

 <div id="backingData" class="hidden">
  <select id="templateMap">
   <option value=""></option>
   #foreach ($templateEntry in $templateMap.entrySet())
   <option value="#escape($templateEntry.value)">#escape($templateEntry.key)</option>
   #end
  </select>

 </div>

 <div class="template-panel" id="templatePanel">
  <h3>Templates</h3>
  <div class="template-actions">
   <select id="templatePicker"></select>
   <button type="button" class="button" id="templateInsert">Insert</button>
   <a class="button" id="templateEdit" href="#" target="_blank" rel="noopener">Edit</a>
   <a class="button" id="templateLibrary" href="${contextRoot}TemplateLibrary" target="_blank" rel="noopener">Library</a>
  </div>
 </div>


 <fieldset id="editor">
  <textarea class="wikitext no_wrap mousetrap" id="pageContent" name="pageContent" wrap="off">$pageContent</textarea>
 </fieldset>

 <fieldset id="save_buttons">
  <input type="submit" name="save" value="Save" accesskey="s"/>
  <a class="button" href="#if($!redirect)#escape($redirect)#else$resource#end">Cancel</a>
 </fieldset>
</form>

<link rel="stylesheet" type="text/css" href="${contextRoot}files/fitnesse/wysiwyg/editor.css" media="screen" />
<script src="${contextRoot}files/fitnesse/wysiwyg/wysiwyg.js" type="text/javascript"></script>
<script src="${contextRoot}files/fitnesse/wysiwyg/wikitext.js" type="text/javascript"></script>
<script src="${contextRoot}files/fitnesse/javascript/jquery.tagsinput.js" type="text/javascript"></script>
<script type="text/javascript">
$(function () {

  var editor = Wysiwyg.initialize(document.getElementById('pageContent'));
  if (editor) {
    var templateInserter = new TemplateInserter();
    var templatePicker = $('#templatePicker');
    templatePicker.html($('#templateMap').html());

    function templatePath(value) {
      if (!value) { return ''; }
      return value.charAt(0) === '.' ? value.substring(1) : value;
    }

    function updateTemplateLinks() {
      var value = templatePicker.val();
      var path = templatePath(value);
      if (!path) {
        $('#templateEdit').attr('href', '#');
        return;
      }
      $('#templateEdit').attr('href', '${contextRoot}' + path + '?edit');
    }

    updateTemplateLinks();
    templatePicker.on('change', updateTemplateLinks);
    $('#templateInsert').on('click', function () {
      var value = templatePicker.val();
      if (!value) { return; }
      var doc = editor.codeMirrorEditor.getDoc();
      templateInserter.insertInto(value, doc, function () {
        if (editor.activeEditor() === "wysiwyg") {
          editor.loadWysiwygDocument();
        }
      });
    });

    var editorHost = $(editor.frame).parent();
    editorHost.css('position', 'relative');
    var commentButton = $('<button type="button" class="table-comment-button">Comment table</button>');
    editorHost.append(commentButton);
    commentButton.hide();

    var activeTable = null;
    function showCommentButton(table, event) {
      var tableRect = table.getBoundingClientRect();
      var hostRect = editorHost[0].getBoundingClientRect();
      var top = tableRect.top - hostRect.top + 6;
      var left = tableRect.right - hostRect.left - commentButton.outerWidth() - 6;
      commentButton.css({ top: top + 'px', left: left + 'px' }).show();
    }

    $(editor.frame).on('mousemove', function (event) {
      var table = $(event.target).closest('table')[0];
      if (!table) {
        activeTable = null;
        commentButton.hide();
        return;
      }
      activeTable = table;
      showCommentButton(table, event);
    });

    $(editor.frame).on('mouseleave', function () {
      activeTable = null;
      commentButton.hide();
    });

    commentButton.on('click', function () {
      if (!activeTable) { return; }
      var $table = $(activeTable);
      var $tbody = $table.find('tbody').first();
      if ($tbody.length === 0) { $tbody = $table; }
      var $firstRow = $tbody.find('tr').first();
      if ($firstRow.length && $firstRow.hasClass('hidden')) {
        var firstCell = $firstRow.find('td, th').first().text().trim().toLowerCase();
        if (firstCell === 'comment') {
          return;
        }
      }
      var columnCount = $firstRow.find('td, th').length || 1;
      var $row = $('<tr class="hidden"></tr>');
      var $cell = $('<td></td>').text('comment');
      if (columnCount > 1) {
        $cell.attr('colspan', columnCount);
      }
      $row.append($cell);
      $tbody.prepend($row);
      editor.selectionChanged();
    });

    // On cancel button:

    function fieldValues () {
      return $.map($('#pageContent,#helptext,#suites', document.f), function(e) { return $(e).val(); });
    }

    var originalFieldValues = fieldValues();

    var performingSubmit = false;

    $(document.f).submit(function () {
      performingSubmit = true;
    });

    window.onbeforeunload = function () {
      if (performingSubmit) {
        return;
      }

      if (editor.activeEditor() === "wysiwyg") {
        editor.loadWikiText();
      } else {
        editor.codeMirrorEditor.save();
      }

      if (fieldValues().join('$$') !== originalFieldValues.join('$$')) {
        return "The page content has been changed.\nDo you really want to leave this page?";
      }
    };

    var rte = $(editor.frame);
    var wrappedElement = $(editor.codeMirrorEditor.getWrapperElement());
    $(window).resize(function () {
      var h = $('#save_buttons').position().top;
      rte.height(h - rte.position().top - 6);
      wrappedElement.height(h - wrappedElement.position().top - 6);
    }).resize();
  }

  /* Tags */
  $('#suites').tagsInput();

  #if($!isNewPage)
    document.f.pageName.focus();
  #else
    document.f.pageContent.focus();
  #end

    Mousetrap.bind('ctrl+s', function(e) {
    	performingSubmit = true;
    	$(document.f).submit();
    	return false;
    });
    Mousetrap.bind('esc', function(e) {
    	window.location.href ="#if($!redirect)#escape($redirect)#else$resource#end";
     	return false;
    });

});

</script>

<div id="insert-image" class="modal-dialog">
 <div>
  <h2>Insert image</h2>
  <fieldset>
  <p>1. From the files section: <a href="${contextRoot}files" class="button" target="_blank">Manage</a></p>
  <pre></pre>
  <ul class="select-box"></ul>
  </fieldset>
  <fieldset>
  <p>2. Provide a URL:</p>
  <input class="image-url" type="text" value=""></input><br/>
  </fieldset>
  <button class="btn-primary" value="Add">Add</button>
  <a href="#" class="button">Cancel</a>
 </div>
</div>
